# Database Configuration
MYSQL_ROOT_PASSWORD=super_secret_root_password
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=wordpress_user_password

# Domain / SSL Configuration
DOMAIN_NAME=localhost
